body{
	font-family: 'robotoregular' !important;
	font-size: 12px;
	color: #000000;
}

/* TOP */

section#bg-top{
	background-color: #333333;
	padding: 25px 0;
}

div.nav-top{
	text-align: center;
}

div.nav-top h1{
	font-family: 'robotobold';
	font-size: 22px;
	color: #FFFFFF;
}

/* END TOP */

/* FOOTER */

section#bg-footer{
	background-color: #333333;
	padding: 10px 0;
	text-align: right;
}

section#bg-footer p{
	font-size: 12px;
	color: #FFFFFF;
}

section#bg-footer .name-footer{
	font-family: 'robotobold' !important;
}

/* END FOOTER */

/* PAGE */

div#conteudo{
	margin: 50px 0;
}

div#menu-left{
	background-color: #F7F7F7;
	padding: 30px 20px;
	height: auto;
}

div#menu-left p{
	line-height: 18px;
	margin: 25px 0;
	padding: 0;
	font-size: 14px;
}

div.title-add{
	font-family: 'robotobold' !important;
	font-size: 16px;
	text-transform: uppercase;
	color: #000000;
}

div.title-list-project{
	width: 75%;
}

div.btn-delete-project{
	width: 24px;
	height: 24px;
	background-image: url('../image/icon-close.png');
	cursor: pointer;
}

div.add-first-task{
	margin: 10px 0 20px 0;
    font-size: 14px;
}

div.prioridade-alta{
	font-family: 'robotobold' !important;
	color: #e97385 !important;
}

div.prioridade-media{
	font-family: 'robotobold' !important;
	color: #a25ddc !important;
}

div.prioridade-pequena{
	font-family: 'robotobold' !important;
	color: #579bfc !important;
}

div.status-finalizada{
	font-family: 'robotobold' !important;
	color: #00c875 !important;
}

div.status-em-desenvolvimento{
	font-family: 'robotobold' !important;
	color: #fdab3d !important;
}

div.status-em-revisao{
	font-family: 'robotobold' !important;
	color: #579bfc !important;
}

div.status-atrasada{
	font-family: 'robotobold' !important;
	color: #e97385 !important;
}


/* END PAGE */

.panel-primary>.panel-heading{
	font-size: 16px;
	font-family: 'robotobold' !important;
}

.erroInput{
	border: 1px solid #F00 !important;
}

.warning-input{
	background-color: #f65f7c;
	font-size: 16px;
	font-family: 'robotobold' !important;
	color: #FFF;
	position: absolute;
	bottom: 0;
	right: 0;
	z-index: 2;
	padding: 30px;
	display: none;
}

.success-input{
	background-color: #00c875;
	font-size: 16px;
	font-family: 'robotobold' !important;
	color: #FFF;
	position: absolute;
	bottom: 0;
	right: 0;
	z-index: 2;
	padding: 30px;
	display: none;
}

.error-input{
	background-color: #fdab3d;
	font-size: 16px;
	font-family: 'robotobold' !important;
	color: #FFF;
	position: absolute;
	bottom: 0;
	right: 0;
	z-index: 2;
	padding: 30px;
	display: none;
}

/* MODALS */

section#modal-form-project, section#modal-delete-project{
	display: none;
	position: relative;
 	background-color: rgba(0,0,0,0.5);
    left: 0;
    max-height: 100%;
    overflow-y: auto;
    padding: 40px 0;
    position: fixed;
    top: 0;
    width: 100%;
    height:auto; 
    min-height:100%;
    z-index: 99999999;
    overflow-x: hidden;
    overflow-y: hidden;
}

section#modal-form-task, section#modal-delete-task, section#modal-form-edit-task{
	display: none;
	position: relative;
 	background-color: rgba(0,0,0,0.5);
    left: 0;
    max-height: 100%;
    overflow-y: auto;
    padding: 40px 0;
    position: fixed;
    top: 0;
    width: 100%;
    height:auto; 
    min-height:100%;
    z-index: 99999999;
    overflow-x: hidden;
    overflow-y: hidden;
}

div.box-modal{
	background-color: #FFFFFF;
	margin: 90px 0;
	padding: 50px;
	border-radius: 10px !important;
}

div.icon-close{
	width: 24px;
	height: 24px;
	background-image: url('../image/icon-close.png');
	position: absolute;
	cursor: pointer;
	top: 120px;
    right: 50px;
}

div.title-form{
	margin-bottom: 30px;
}

div.title-form h2{
	font-family: 'robotobold' !important;
	color: #000000;
	font-size: 24px;
}

div.title-delete{
	margin-bottom: 30px;
}

div.title-delete h2{
	font-family: 'robotobold' !important;
	color: #000000;
	font-size: 20px;
    margin-top: 30px;
}
/* END MODALS*/